@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


.App {
  max-height: 696px;
  max-width: 475px;
  height: 696px;
  width: 475px;
  background-color: #eec780;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-height: 625px;
  max-width: 345px;
  height: 625px;
  width: 345px;
  background-color: aliceblue;
  background-image: url(./images/kindpng_382638.png);
  border-radius: 30px;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.code {
  height: 20px;
}


.heading {
  background-color: #eec780;
  display: flex;
  justify-content: center;
  width: 194px;
  height: 48px;
  align-items: center;
  margin-left: 2.4rem;
  border-radius: 5px;
  border-bottom-right-radius: 20px;
  margin-bottom: 3rem;
  transform: rotate(3deg);
}

.input {
  margin-bottom: 4rem;

}



button {
  width: 70px;
  height: 45px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 4px;
  font-size: 1.4rem;
}

.li {
  margin: 1rem;
  font-size: 1.4rem;
  width: 100%;
  font-weight: 600;

}

input {
  width: 207px;
  height: 30px;

}